```
# Database
tally-lite/instance/tally.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.venv/
.env
.env.local
.env.*
.env~*
.env.local~
*.env
*.env.local
*.env.*
*.env~
*.env.local~
```